<mat-card class="skill-card">
  <mat-card-header>
    <mat-card-title>{{card.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="card.pic" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{card.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button  mat-icon-button  
        (click)="onLike()"
        [ngClass]="likeButtonColorClass"
        aria-label="Thumb Up"
        class="shake-on-hover">
      <mat-icon>thumb_up</mat-icon>
      {{card.likes}}
    </button>
    <button  mat-icon-button 
      color="link" 
      (click)="onShare()" 
      aria-label="Share"
      class="shake-on-hover">
      <mat-icon>share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>