<!-- Conteúdo do app-dashboard -->
<div 
  fxLayout.xs="column" 
  fxLayout="row wrap" 
  fxLayoutGap="10px"
  fxLayoutAlign="center"
  gdColumns="auto auto auto"
  gdColumns.md="auto auto"
  gdColumns.sm="auto"
  gdColumns.xs="auto"
  style="flex: 1;" 
>
  <ng-container *ngFor="let card of cards">
    <app-card 
      *ngIf="!loading"
      [card]="card" 
      fxFlex.xs="100%" 
      fxFlex.gt-xs="calc(50% - 10px)" 
      fxFlex.gt-md="calc(33.33% - 10px)"
    ></app-card>
  </ng-container>
</div>

<div class="custom-spinner-container" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  
